*{
    margin: 0;
    font-family: sans-serif;
}

html{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/531/679/693/wood-textures-1920x1080-abstract-textures-hd-art-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inputs{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
    width: 100vw;
}

.inputs input{
    background-color: whitesmoke;
    border-radius: 5rem;
    border: black solid .2rem;
    outline: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.fila{
    display: flex;
}

.start{
    display: block;
    margin: 2rem auto;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
    border-radius: 5rem;
    border: black solid .2rem;
    background-color: whitesmoke;
}

.start:hover{
    background-color: black;
    color: whitesmoke;
}

.cuadro{
    width: 4rem;
    height: 4rem;
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco{
    background-color: whitesmoke;
}
.gris{
    background-color: gray;
}

.tablero{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}